<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question Detail</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
</head>
<body>
<button value="back_to_home" onclick="javascript:window.location.href='../home'">Back</button><br/>
Title：<span th:text="${question.title}"></span><br/>
Description：<span th:text="${question.description}"></span><br/>
<table class="display" id="answers">
    <thead>
    <tr>
        <th style="width: 400px;">Time</th>
        <th style="width: 400px;">Answerer</th>
        <th style="width: 2000px;">Description</th>
        <th style="width: 100px;">Supported</th>
        <th style="width: 50px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="answer : ${answers}">
        <td th:text=${answer.answer_time}/>
        <td th:text=${answer.answerer_id}/>
        <td th:text=${answer.description}/>
        <td th:text=${answer.support_count}/>
        <td>
            <form th:action="@{/support_answer}" method="get">
                <input type="hidden" th:value="${question.id}" th:id="questionId" th:name="questionId"/>
                <input type="hidden" th:value="${answer.id}" th:id="answerId" th:name="answerId"/>
                <button type="submit" >Support</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
    $("#answers").DataTable({
        "aLengthMenu" : [5, 10, 15],
        "oLanguage": {
            "sZeroRecords" : "No Results",
            "sEmptyTable" : "No Answers",
            "sInfo" : "Showing _START_ to  _END_ of _TOTAL_ Answers",
            "sSearch" : "Search"
        }
    });
});
</script>
<form th:action="@{/submit_answer}" method="get">
    Answer：<input type="text" th:id="description" th:name="description">
    <input type="hidden" th:value="${question.id}" th:id="questionId" th:name="questionId"/>
    <button type="submit" >Answer</button>
</form>
</body>
</html>